video_data/*
!video_data/.gitkeep

image_data/*
!image_data/.gitkeep

gopro_brake_parts/*
inspection_snapshots/*

#solutions
solutions/ML3_4/April 02 15.11-15.36/*
!solutions/ML3_4/April 02 15.11-15.36/.gitkeep

.DS_Store
solutions/.DS_Store
solutions/ML3_4/.DS_Store
solutions/ML5/.DS_Store

solutions/ML3_4/.DS_Store
solutions/utils/__pycache__/data_utils.cpython-38.pyc
solutions/ML2_5/datasets/*
!solutions/ML2_5/datasets/.gitkeep


#Large models
solutions/ML5/models/*
!solutions/ML5/models/.gitkeep 
solutions/ML1/models/*
!solutions/ML1/models/.gitkeep

#Datasets:
headcam_training_images/*
fixedcam2_training_data_till_april4
fixedcam3_training_data_april4_to_april10

# Packages/Repos
ultralytics/*
deep-text-recognition-benchmark/*

# training datasets
datasets/*
!datasets/.gitkeep
